mixin videoMixin(video={})
  .videoContainer
    a(href='#')
      .column
        video(src=`/${video.fileUrl}`)
      .column
        .contents
          .column
            .avatar
              img(src=`/${video.author.avatar}`, alt="")
          .column     
            .title=video.title
            .details
              .column
                span.userName=video.author.nickName
                span.tags=video.tags
              .column
                span.views=video.views
                span.updated=video.updatedAt