extends layouts/baseOf
block content
  h1 Welcome home
  each msg in messages
    span=msg
  - let name = ''
  if user.email
    - name = user.email
  else
    - name = 'guest'
  span=name

  ul
    each video in videos
      li
        a(href=`/video/${video._id}`)
          video(src=video.fileUrl, controls=true)