extends layouts/baseOf
block content
  .loginContainer
    .logo
      a(href="/")
        i.fab.fa-youtube
        span BUTUBE
    .loginMethod
      span 회원가입
      .method
        form.method__email(action="/join" method="post")
          .email
            input(type="email", name="email", placeholder="email" required)  
          .password
            input(type="password", name="password" placeholder="password" required)
          .password
            input(type="password", name="password2" placeholder="password confirm" required)
          button.loginEmail(type="submit")
            i.fas.fa-envelope
            span 회원가입
    