extends layouts/baseOf

block content
  .loginContainer
    .logo
      a(href="/")
        i.fab.fa-youtube
        span BUTUBE
    .loginMethod
      span 아래 방식중 하나로 로그인 하세요.
      .method
        form.method__email(action="/login" method="post")
          .email
            input(type="email", name="email", placeholder="email" required)  
          .password
            input(type="password", name="password" placeholder="password" required)
          button.loginEmail(type="submit")
            i.fas.fa-envelope
            span 로그인
          .etc
            a.joinEmail(href="/join") 회원가입
            a.forgetPassword(href="#") 비밀번호변경
      .method
        button.method__google 
          i.fab.fa-google
          span.method__title 구글
      .method
        button.method__github
          i.fab.fa-github
          span.method__title 깃헙
      .method
        button.method__facebook
          i.fab.fa-facebook
          span.method__title 페이스북

    