extends layouts/baseOf

block content
  .profileContainer
    .profile
      h1 프로필
      .item
        .display
          .column
            span 사진
          .column
            span 우측 사진을 클릭하여 프로필사진을 변경하세요
          .column.avatar
            img(src=`/${user.avatar}`, alt="")
            .avatar__edit
              i.editAvatar.fas.fa-camera
      .item
        .display
          .column
            span 이름
          .column
            span.name #{user.lastName} #{user.firstName}
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="text" name='lastName' placeholder="성")
            input(type="text" name='firstName' placeholder="이름")
          .column.update
            button 수정
      .item
        .display
          .column
            span 닉네임
          .column
            span.nickName=user.nickName
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="text" name='nickName' placeholder="닉네임")
          .column.update
            button 수정
      .item
        .display
          .column
            span 생년월일
          .column
            span.birthDisplay=user.birthDisplay
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="date" name='birth')
          .column.update
            button 수정
      .item
        .display
          .column
            span 성별
          .column
            span.gender=user.gender
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            label(for="female") 여성
            input(type="radio" name='gender' id="female")
            label(for="male") 남성
            input(type="radio" name='gender' id="male")
            label(for="secret") 알 수 없음
            input(type="radio" name='gender' id="secret")
          .column.update
            button 수정
      .item
        .display
          .column
            span 비밀번호
          .column
            span.password=user.password
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="password" name='password' placeholder="비밀번호")
            input(type="password" name='password2' placeholder="확인")
          .column.update
            button 수정
    .personalInfo
      h1 연락처 정보
      .item
        .display
          .column
            span 이메일
          .column
            span.email=user.email
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="email" name='email' placeholder="이메일")
          .column.update
            button 수정
      .item
        .display
          .column
            span 휴대전화
          .column
            span.tel=user.tel
          .column.arrow
            i.fas.fa-chevron-right
        .edit
          .column
            input(type="tel" name='tel' placeholder="전화번호")
          .column.update
            button 수정
