extends layouts/baseOf
include mixins/videoMixin


block content
  .uploadContainer
    h1 영상 업로드
    .videoUpload
      #jsDropVideo
        .drop
          i.fas.fa-images
          span.drop__instructor 업로드할 영상을 여기에 드래그하세요
          span.drop__instructor2 — 또는 —
          input(type="file", id="videoFile" name="videoFile" accept="video/*" onchange="handleVideo(this.files)")
          label(for="videoFile" class="videoSelectBtn")="컴퓨터에서 비디오 선택"
        .preview 
    .item.videoTitle
      .column
        span 제목
      .column
        input(type="text" name="videoTitle" required placeholder="title")
    .item.videoDescription
      .column
        span 설명
      .column
        textarea(name="videoDescription", cols="100%", rows="10" placeholder="description")
    .item.videoGenre
      .column
        span 장르
      .column
        .checkboxList
          .item
            label(for="comedy") 코미디
              input(type="checkbox" id="comedy" name="genres")
          .item
            label(for="romance") 로맨스
              input(type="checkbox" id="romance" name="genres")
          .item
            label(for="drama") 드라마
              input(type="checkbox" id="drama" name="genres")
          .item
            label(for="action") 액션
              input(type="checkbox" id="action" name="genres")
          .item
            label(for="mystery") 미스테리
              input(type="checkbox" id="mystery" name="genres")
          .item
            label(for="thriller") 스릴러
              input(type="checkbox" id="thriller" name="genres")
          .item
            label(for="horror") 호러
              input(type="checkbox" id="horror" name="genres")
          .item
            label(for="crazy") 엽기
              input(type="checkbox" id="crazy" name="genres")
    .item.videoTags
      .column
        span 태그
      .column
        input(type="text" name="videoTags" required placeholder="# HASH TAG로 구분해주세요")
    button.uploadVideoBtn 업로드
  .uploadList
    h1 업로드 영상들
    a(href="/upload") 업로드하기
    #{console.log(videos)}
    ul
      each video in videos
        li
          +videoMixin(video)      
    