@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");

* {
  box-sizing: border-box;
}

div,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0.5rem;
}

div {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border-color: var(--lighterGreyColor);
}

input,
button {
  outline-color: var(--lightBlueColor);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  justify-self: flex-start;
  width: 50rem;
}

textarea {
  border: 1px solid var(--lightGreyColor);
}
