.header {
  display: grid;
  grid-template-areas: menu logo search shortcut;
  grid-template-columns: 0.5fr 2fr 6.5fr 3fr;
  padding: 0.5rem 0;
}

.header .header__column:nth-child(1) {
  grid-template: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__column:nth-child(2) {
  grid-template: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header__column:nth-child(3) {
  grid-template: search;
}
.header .header__column:nth-child(4) {
  grid-template: shortcut;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .menu {
  color: var(--lightBlackColor);
}

.header .logo {
  color: var(--redColor);
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.header .logoTitle {
  color: var(--blackColor);
  font-weight: bold;
  font-size: 1.5rem;
}

.header .search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header input {
  width: 70%;
  height: 70%;
  border: 1px solid var(--lightGreyColor);
  border-right: none;
}

.header .search__button {
  height: 70%;
  width: max-content;
  padding: 0 1rem;
  border: 1px solid var(--lightGreyColor);
  background-color: var(--lighterGreyColor);
  color: var(--lightBlackColor);
}

.header .shortcut {
  width: 100%;
  color: var(--lightBlackColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .shortcut i {
  margin-right: 1.5rem;
}

.header .shortcut .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header #jsAvatarPopover {
  cursor: pointer;
}
