.loginContainer {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loginContainer .logo {
  font-size: 4rem;
  margin: 2rem;
}

.loginContainer .logo i {
  font-size: 4.5rem;
  color: var(--redColor);
  margin-right: 0.5rem;
}

.loginContainer .loginMethod {
  border: 1px solid var(--lightGreyColor);
  border-radius: 10px;
  padding: 2rem;
  line-height: 1.5rem;
}

.loginContainer .method {
  margin: 1.5rem 0;
}

.loginContainer span {
  line-height: inherit;
}

.loginContainer .method__email .email input,
.loginContainer .method__email .password input {
  border: 1px solid var(--lightGreyColor);
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0;
  outline-style: none;
  appearance: none;
  width: 100%;
  line-height: inherit;
}

.loginContainer .loginEmail {
  background-color: var(--redColor);
  border: 1px solid var(--redColor);
  color: var(--lighterGreyColor);
}

.loginContainer .etc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.7rem;
}

.loginContainer .etc a {
  margin-left: 0.5rem;
}

.loginContainer .etc a:hover {
  color: var(--redColor);
}

.loginContainer .method button span {
  margin: 0 0.5rem;
  font-weight: bold;
}

.loginContainer .method button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.loginContainer .method__google {
  background-color: var(--backGroundColor);
  border: 1px solid var(--orangeColor);
  color: var(--orangeColor);
}

.loginContainer .method__github {
  background-color: var(--blackColor);
  border: 1px solid var(--blackColor);
  color: var(--lighterGreyColor);
}

.loginContainer .method__facebook {
  background-color: var(--brightBlueColor);
  border: 1px solid var(--brightBlueColor);
  color: var(--lighterGreyColor);
}
