.popOver {
}
.avatarPopover {
  visibility: collapse;
  display: none;
}

.avatarPopover.show {
  visibility: visible;
  background-color: var(--lighterGreyColor);
  border: 1px solid var(--lightGreyColor);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 4px 6px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 17px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 4rem;
  right: 0.5rem;
}

.avatarPopover .avatarPopover__column {
  width: 100%;
  text-align: center;
}

.avatarPopover .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.avatarPopover .profile .profile__photo {
  position: relative;
}

.avatarPopover .profile .avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.avatarPopover .profile .avatar__edit {
  background-color: var(--lighterGreyColor);
  position: absolute;
  bottom: 0.1rem;
  right: 0;
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.avatarPopover .profile i {
  color: var(--lightBlackColor);
  line-height: 1.2rem;
  padding: 0.2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.avatarPopover .profile i:hover {
  color: var(--lightBlueColor);
}

.avatarUploadOverLay {
  visibility: collapse;
  display: none;
}

.avatarUploadOverLay.selected {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.avatarUpload {
  visibility: collapse;
}

.avatarUploadOverLay.selected .avatarUpload {
  visibility: visible;
  padding: 1rem;
  background-color: rgb(248, 244, 244, 1);
  border: 1px solid var(--lightGreyColor);
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
}

.avatarUpload #jsDropArea {
  width: 100%;
}

.avatarUpload .drop,
.avatarUpload .preview {
  height: 20rem;
  width: 100%;
  flex-grow: 1;
}

.avatarUpload.previewAvatar #jsDropArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--lightGreyColor);
}

.avatarUpload #jsDropArea .preview {
  height: 100%;
  flex-grow: 1;
  text-align: center;
}
.avatarUpload #jsDropArea .drop {
  background-color: var(--backGroundColor);
  color: var(--lightBlackColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-grow: 1;
}
.avatarUpload #avatar {
  display: none;
}

.avatarUpload .avatarSelectBtn {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--lightBlueColor);
  background-color: var(--lightGreyColor);
  border-radius: 10px;
  color: var(--blackColor);
}

.avatarUpload .drop i {
  font-size: 4rem;
  margin: 0.5rem 0;
}
.avatarUpload .drop .drop__instructor {
  font-size: 2rem;
  margin: 0.5rem 0;
}
.avatarUpload .drop .drop__instructor2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.avatarUpload.previewAvatar .drop i {
  font-size: 3rem;
  margin: 1rem 0;
}
.avatarUpload.previewAvatar .drop .drop__instructor {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.avatarUpload.previewAvatar .drop .drop__instructor2 {
  font-size: 1rem;
  margin: 1rem 0;
}

.avatarUpload .preview img {
  width: 10rem;
  height: 10rem;
}

.avatarUpload .uploadAvatarBtn {
  align-self: flex-end;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--lightBlueColor);
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--lightGreyColor);
  color: var(--blackColor);
}
