.profileContainer {
  width: 47rem;
}

.profile,
.personalInfo {
  border: 1px solid var(--lightGreyColor);
  margin: 1rem 0 1rem 0;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile .item .avatar {
  position: relative;
}

.profile .item img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.profile .item .avatar__edit {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.1rem;
}

.profile .item .avatar__edit:hover i {
  color: var(--lightBlueColor);
}

.profile .item,
.personalInfo .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile .item .edit,
.personalInfo .item .edit {
  visibility: collapse;
}

.profile .item.show .edit,
.personalInfo .item.show .edit {
  visibility: visible;
}

.profile .item .display,
.personalInfo .item .display {
  color: var(--lightBlackColor);
  display: grid;
  grid-template-columns: 4fr 10fr 3fr;
  width: 100%;
  border-bottom: 1px solid var(--lightGreyColor);
  min-height: max-content;
  padding: 2rem 0;
}

.profile .item .column,
.personalInfo .item .column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile .item .edit,
.personalInfo .item .edit {
  background-color: var(--lightGreyColor);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profile .item .edit .column:first-child,
.personalInfo .item .edit .column:first-child {
  width: 100%;
}

.profile .item .edit input,
.personalInfo .item .edit input {
  line-height: 2rem;
  margin: 0.3rem;
  flex-grow: 1;
  width: fit-content;
}

.profile .item .edit .update,
.personalInfo .item .edit .update {
  align-self: flex-end;
}

.profile .item .edit button,
.personalInfo .item .edit button {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  background-color: var(--blackColor);
  cursor: pointer;
  border: none;
  color: var(--backGroundColor);
  font-weight: bold;
}

.profile .item .edit button:hover,
.personalInfo .item .edit button:hover {
  background-color: var(--orangeColor);
}

.column:nth-child(1) {
  font-weight: bold;
  /* background-color: red; */
}

.column:nth-child(2) {
  /* background-color: green; */
}

.column:nth-child(3) {
  justify-self: flex-end;
}

.column:nth-child(3) {
  cursor: pointer;
}
