.uploadContainer.hide {
  visibility: collapse;
  display: none;
}

.uploadContainer {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 1px solid var(--lightGreyColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  width: 47rem;
}

.uploadContainer h1 {
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.uploadContainer .videoTitle,
.uploadContainer .videoGenre,
.uploadContainer .videoTags,
.uploadContainer .videoDescription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.uploadContainer .videoTitle .column,
.uploadContainer .videoGenre .column,
.uploadContainer .videoTags .column,
.uploadContainer .videoDescription .column {
  height: 100%;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploadContainer .videoTitle .column:last-child,
.uploadContainer .videoGenre .column:last-child,
.uploadContainer .videoTags .column:last-child,
.uploadContainer .videoDescription .column:last-child {
  flex-grow: 1;
}

.uploadContainer .videoTitle .column input,
.uploadContainer .videoGenre .column input,
.uploadContainer .videoTags .column input,
.uploadContainer .videoDescription .column input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--lightGreyColor);
  outline: none;
}

.uploadContainer .videoGenre .checkboxList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploadContainer .videoGenre .checkboxList .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  margin: 0 0.5rem;
}

.videoUpload {
  visibility: visible;
  padding: 1rem;
  background-color: rgb(248, 244, 244, 1);
  border: 1px solid var(--lightGreyColor);
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoUpload.previewVideo #jsDropVideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--lightGreyColor);
}

.videoUpload #jsDropVideo .preview {
  height: 100%;
  flex-grow: 1;
  text-align: center;
}
.videoUpload #jsDropVideo .drop {
  background-color: var(--backGroundColor);
  color: var(--lightBlackColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-grow: 1;
}

.videoUpload.previewVideo .drop i {
  font-size: 3rem;
  margin: 1rem 0;
}
.videoUpload.previewVideo .drop .drop__instructor {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.videoUpload.previewVideo .drop .drop__instructor2 {
  font-size: 1rem;
  margin: 1rem 0;
}

.videoUpload .preview video {
  width: 10rem;
  height: 10rem;
}

.videoUpload .drop {
  height: 20rem;
  width: 100%;
  flex-grow: 1;
}

.videoUpload #jsDropVideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--lightGreyColor);
}

.videoUpload #jsDropVideo .drop {
  background-color: var(--backGroundColor);
  color: var(--lightBlackColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-grow: 1;
}
.videoUpload #videoFile {
  display: none;
}

.videoUpload .videoSelectBtn {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--lightBlueColor);
  background-color: var(--lightGreyColor);
  border-radius: 10px;
  color: var(--blackColor);
}

.videoUpload .drop i {
  font-size: 4rem;
  margin: 0.5rem 0;
}
.videoUpload .drop .drop__instructor {
  font-size: 2rem;
  margin: 0.5rem 0;
}
.videoUpload .drop .drop__instructor2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.uploadContainer .uploadVideo {
  align-self: flex-end;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--lightBlueColor);
  background-color: var(--lightGreyColor);
  border-radius: 10px;
  color: var(--blackColor);
}

.uploadList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadList ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
  flex-wrap: wrap;
  width: 60%;
}
