:root {
  --redColor: #ff0000;
  --backGroundColor: #f9f9f9;
  --blackColor: #212121;
  --lightBlackColor: #606060;
  --lightGreyColor: #cccccc;
  --lighterGreyColor: #f8f8f8;
  --lightBlueColor: #519cf1;
  --orangeColor: #e55428;
  --brightBlueColor: #166fe5;
}
