.videoContainer {
  background-color: red;
  width: 23rem;
}

.videoContainer a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.videoContainer .contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: green;
}

.videoContainer .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.videoContainer .contents img {
  width: 4rem;
  height: 4rem;
}

.videoContainer video {
  width: 20rem;
  background-color: yellow;
}
