header.header
  .header__column
    i.menu.fas.fa-bars
  .header__column
    a(href="/")
      i.logo.fab.fa-youtube
      span.logoTitle BUTUBE
  .header__column
    form.search
      input(type="text" placeholder="검색")
      button.search__button(type="submit")
        i.fas.fa-search
  .header__column
    .shortcut
      i.fas.fa-video
      i.fas.fa-th
      i.fas.fa-bell
      if user.avatar
      if isAuthenticated
        img.avatar#jsAvatarPopover(src=`/${user.avatar}`, alt="")
      else
        a(href="/login") 로그인
      