.avatarPopover
  .avatarPopover__column
    .avatarPopover__profile.profile
      .profile__photo
        img.avatar(src=`/${user.avatar}`, alt="")
        .avatar__edit
          i.editAvatar.fas.fa-camera
      .profile__name
        span=user.name
      .profile__email
        span=user.email
      .profile__edit
        a(href="/profile" method="get") 프로필수정
    hr
  .avatarPopover__column
    ul.accountList
      li.account
    .addAccount
      a(href="#") 다른계정추가
    .uploadVideo
      a(href="/upload") 업로드
    hr
  .avatarPopover__column
    form
      input(type="submit" formaction='/logout' formmethod='get' value="로그아웃")
    hr
  .avatarPopover__column
    span 개인정보처리방침 · 서비스 약관

.avatarUploadOverLay
  .avatarUpload
    h1 프로필 사진 선택
    #jsDropArea
      .drop
        i.fas.fa-images
        span.drop__instructor 프로필 사진을 여기에 드래그하세요
        span.drop__instructor2 — 또는 —
        form(action="/avatar" method="post" enctype="multipart/form-data" id="avatarForm")
          input(type="file", id="avatar" name="avatar" accept="image/*" onchange="handleAvatar(this.files)")
          label(for="avatar" class="avatarSelectBtn")="컴퓨터에서 사진 선택"
      .preview 
    button(class="uploadAvatarBtn") 사진변경