<!DOCTYPE html>
html(lang="en")
  include head
  body
    unless pageTitle === 'login' || pageTitle === 'join'
      include ../partials/header
    main
      block content
      include ../partials/popover
      include ../partials/scripts