head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png")
  link(rel="manifest" href="/public/site.webmanifest")
  link(rel="stylesheet", href="/public/css/style.css")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css", integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
  title #{pageTitle} | #{siteName}